/* Estilos para melhorar a responsividade dos botões */

@media (max-width: 768px) {
    .btn {
        width: 100%;
        margin: 10px 0;
    }

    .input-group {
        flex-wrap: wrap;
    }

    .input-group .form-control,
    .input-group .input-group-text {
        width: 100%;
        margin-bottom: 10px;
    }

    .form-group textarea {
        width: 100%;
    }

    .container {
        padding: 10px;
    }

    .form-group {
        margin-bottom: 30px;
    }

    .card-body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mt-3 {
        margin-top: 30px;
    }

    .btn {
        margin-bottom: 15px;
    }

    .container {
        padding-bottom: 100px;
    }
}

/* Ajuste do espaçamento vertical dos cartões */

.card {
    --bs-card-spacer-y: 3rem;
}

/* Ajuste para garantir que os botões não sejam cortados pela barra inferior */

.container {
    padding-bottom: 100px;
} 